@charset "CESU-8";
/*样式设置预设*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,table,td,img,div,dl,dt,dd,input{
  margin:0; padding:0;
}
body{ font-size: 14px; font-family: "微软雅黑"; min-width: 1100px;}
img{ border: none;}
li{ list-style: none;}
input,
select,
textarea{ outline: none; border: none; background: none;}
textarea{ resize: none;}
a{ text-decoration: none; color: #000;}

/*清除浮动*/
.clearfix:after{ content: ""; display: block; clear: both;}
.clearfix{ zoom:1;}

/*通用样式*/
.fl{ float: left;}
.fr{ float: right;}
.hr-30{ height: 30px;}
.comWidht{ width: 1100px; margin-left:auto; margin-right:auto;}

/*导航*/
header{ width: 100%; background-color: #333; position: fixed; top: 0; left: 0; z-index: 999;}
.nav-wrapper{ height: 60px;  border-bottom: 1px solid #f00; color: #fff;  line-height: 35px;  padding-top: 12px;}
.nav-inner li{ float: left; padding-right: 30px; }
.nav-inner li a{ color: #888;}
.nav-inner li a:hover{ color: #fff;}

/*导航条*/
.banner{ width: 100%; min-width: 1100px; height: 320px; margin: auto; text-align: center;  background-color: #333;}
.banner-inner{padding-top: 125px;color: #fff;}
.banner-inner p{ margin-top: 10px;}

/*左侧*/
.main{ min-width: 1100px; }
.mian-content div{ display: inline-block; float: left;}
.main-l{ width: 150px; padding-left: 10px;}
.main-l ul li{ text-indent: 10px; }
.main-l ul li a{ color: #666;}
.main-l ul li a:hover{ color: #35b5c5;}
.main-tit{ padding-bottom: 10px;}

/*中间*/
.main-m{ width: 760px; padding: 0 20px;}
.main-tit1{  border-bottom: 1px solid #ccc;}
.main-tit1,
.main-m ul h3{ padding: 25px 0;}

/*右侧*/
.main-r{ width: 140px; border-left: 1px solid #ddd; margin-left: -1px;}



@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem; }
    .btn + .btn {
      margin-top: 1rem;
      margin-left: 0; } }

@media screen and (min-width: 64em) {
  .page-header {
    padding: 5rem 6rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 3rem 4rem; } }

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem; } }

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem; } }

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem; } }

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem; } }

@media screen and (min-width: 64em) {
  .main-content {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem; } }

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem; } }


@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem; } }
